<script>
	import Ul from '$lib/components/mdsvex/ul.svelte';
	import {energyEfficiencyOrder} from '$lib/utils/ordering.js';
</script>

#### What's visualised

The number of installations by lighting energy efficiency.

#### Lighting energy efficiency

A qualitative description of the energy efficiency of the lighting used in the property.

One of:

<Ul>
	{#each energyEfficiencyOrder as key}
		<li>{key}</li>
	{/each}
</Ul>
