<script>
	import Ul from '$lib/components/mdsvex/ul.svelte';
	import {ageBandOrder} from '$lib/utils/ordering.js';
</script>

#### What's visualised

The number of installations by property age band.

#### Age band

Age band when building part constructed.

One of:

<Ul>
	{#each ageBandOrder as key}
		<li>{key}</li>
	{/each}
</Ul>
