#### What's visualised

The number of installations by lighting energy efficiency.

#### Lighting energy efficiency

A qualitative description of the energy efficiency of the lighting used in the property.

One of:

- Very Poor
- Poor
- Average
- Good
- Very Good
