#### What's visualised

The photovoltaic supply value.

#### Photovoltaic supply

The photovoltaic area as a percentage of total roof area: 0% indicates that a Photovoltaic Supply is not present in the property.
