* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: sans-serif;
}

html, body, #app {
	height: 100%;
	width: 100%;
	/*
	For the color correction filters to work properly across browsers,
	the background must be set to a color.
	*/
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

.clickable {
	cursor: pointer;
}

:root {
	--z1000: 1000;
	--z9000: 9000;
}

/* theme: geometry */

.themeLight {
	--borderLine: 1px solid;
	--boxShadowGeom: 0px 8px 9px -4px;
	--dimHeaderHeight: 3rem;
	--dimPadding: 0.5rem;
	--outlineWidth: 2px;
	--outlineStyle: solid;
	--focusShadow: 0 0 2px 2px var(--colorOutline);

	/* theme compound helpers */

	--border: var(--borderLine) var(--colorBorder);
	--borderAux: var(--borderLine) var(--colorBorderAux);
	--outline: var(--outlineWidth) var(--outlineStyle) var(--colorOutline);
	--boxShadowY: var(--boxShadowGeom) var(--colorShadow);

	/* grids */

	--gridStrokeDasharray: 4 8;
}

.themeDark {
	--borderLine: 1px solid;
	--boxShadowGeom: 0px 8px 9px -4px;
	--dimHeaderHeight: 3rem;
	--dimPadding: 0.5rem;
	--outlineWidth: 2px;
	--outlineStyle: solid;
	--focusShadow: 0 0 2px 2px var(--colorOutline);

	/* theme compound helpers */

	--border: var(--borderLine) var(--colorBorder);
	--borderAux: var(--borderLine) var(--colorBorderAux);
	--outline: var(--outlineWidth) var(--outlineStyle) var(--colorOutline);
	--boxShadowY: var(--boxShadowGeom) var(--colorShadow);

	/* grids */

	--gridStrokeDasharray: 4 8;
}
/* theme: colors */

.themeLight {
	--colorAccentBackground: #333;
	--colorAccentText: orange;
	--colorActiveBackground: #333; /* not found */
	--colorActiveText: #ccc; /* not found */
	--colorAux: #eee;
	--colorAuxText: #222;
	--colorBackdropSensor: rgba(0, 0, 0, 0.25);
	--colorBackground: white; /* back to --colorMain? */
	--colorBorder: #ccc;
	--colorBorderAux: #333; /* FIXME needed by a11y menu */
	--colorIcon: #333;
	--colorIconDisabled: #aaa;
	--colorIconSelected: white;
	--colorLink: #0658aa;
	--colorNavLink: #333;
	--colorNavLinkActive: #0658aa;
	--colorOutline: rgb(256, 64, 64);
	--colorPageBackground: #333;
	--colorRefLine: rgba(0,0,0,0.1);
	--colorScrollbarThumb: #ddd; /* windows */
	--colorScrollbarTrack: #f5f5f5; /* windows */
	--colorScrollbarTrackBorder: #ddd; /* windows */
	--colorSelectedBackground: #555;
	--colorSelectedText: white;
	--colorShadow: rgba(0, 0, 0, 0.5);
	--colorSwitchKnob: lightgray;
	--colorTagBlockquoteBackground: aliceblue;
	--colorTagBlockquoteLeftBorder: dodgerblue;
	--colorTagCodeBackground: aliceblue;
	--colorTagCodeBorder: lightgrey;
	--colorTagCodeText: #333;
	--colorTagH4: #075aa2;
	--colorText: #333;
	--colorTextDisabled: #aaa;
	--colorTextInverted: white;
	--colorWarningBackground: orange;
	--colorWarningBorder: darkorange;
	--colorWarningText: white;

	/* bar chart */

	--colorBarchartHeroItemBackground: var(--colorAux);
	--colorBarchartHeroItemBar: #333;
	--colorBarchartHeroItemText: var(--colorAuxText);
	--colorBarchartHoveredItemBackground: var(--colorAux);
	--colorBarchartHoveredItemBar: #333;
	--colorBarchartHoveredItemText: var(--colorAuxText);
	--colorBarchartItemBar: #333;
	--colorBarchartSelectedItemBackground: #fff4e5;
	--colorBarchartSelectedItemText: #333;

	/* quick stats */

	--colorStatsBorder: #333;
	--colorStatsFiltered: rgb(113, 231, 144);
	--colorStatsFilteredOut: rgb(240, 176, 58);
	--colorStatsUnretrievable: rgb(36, 175, 217);

	/* timeline */

	--colorTimelineActiveBinFill: #eee;
	--colorTimelineActiveBinStroke: #333;
	--colorTimelineInactiveBinFill: white;
	--colorTimelineInactiveBinStroke: silver;

	/* cat filters */

	--colorBackgroundApply: limegreen;
	--colorBackgroundApplyDisabled: grey;
	--colorBackgroundDirty: antiquewhite;
	--colorBackgroundDismiss: orangered;
	--colorBackgroundHover: #eee;
	--colorTextApply: white;
	--colorTextDismiss: white;

	/* region filters */

	--colorGeoFilterFillSelected: #555;
	--colorGeoFilterStrokeSelected: orange;

	/* maps */

	--colorMapFillNuts: #eee;
	--colorMapStrokeSelected: black;
	--colorMapHeroStroke: #333;
}

.themeDark {
	--colorAccentBackground: #ccc;
	--colorAccentText: rgb(117, 76, 0);
	--colorActiveBackground: #ccc;
	--colorActiveText: #333;
	--colorAux: #444;
	--colorAuxText: #eee;
	--colorBackdropSensor: rgba(255, 255, 255, 0.25);
	--colorBackground: #111; /* back to --colorMain? */
	--colorBorder: #444; /* FIXME needed by a11y menu */
	--colorBorderAux: #ccc; /* FIXME needed by a11y menu */
	--colorIcon: #ccc;
	--colorIconDisabled: #666;
	--colorIconSelected: #333;
	--colorLink: #7FA6CC;
	--colorNavLink: #ccc;
	--colorNavLinkActive: #7FA6CC;
	--colorOutline: rgb(255, 64, 64);
	--colorPageBackground: #333;
	--colorRefLine: rgba(255,255,255,0.1);
	--colorScrollbarThumb: #666; /* windows */
	--colorScrollbarTrack: #222; /* windows */
	--colorScrollbarTrackBorder: #666; /* windows */
	--colorSelectedBackground: #eee;
	--colorSelectedText: black;
	--colorShadow: rgba(0, 0, 0, 0.5);
	--colorSwitchKnob: gray;
	--colorTagBlockquoteBackground: rgb(33, 71, 105);
	--colorTagBlockquoteLeftBorder: rgb(15, 49, 83);
	--colorTagCodeBackground: rgb(43, 74, 102);
	--colorTagCodeBorder: darkgrey;
	--colorTagCodeText: white;
	--colorTagH4: #6785a0;
	--colorText: #ccc;
	--colorTextDisabled: #666;
	--colorTextInverted: #333;
	--colorWarningBackground: rgb(117, 76, 0);
	--colorWarningBorder: rgb(109, 60, 1);
	--colorWarningText: #333;

	/* bar chart */

	--colorBarchartHeroItemBackground: var(--colorAux);
	--colorBarchartHeroItemBar: white;
	--colorBarchartHeroItemText: var(--colorAuxText);
	--colorBarchartHoveredItemBackground: var(--colorAux);
	--colorBarchartHoveredItemBar: white;
	--colorBarchartHoveredItemText: var(--colorAuxText);
	--colorBarchartItemBar: white;
	--colorBarchartSelectedItemBackground: #002c66;
	--colorBarchartSelectedItemText: white;

	/* quick stats */

	--colorStatsBorder: white;
	--colorStatsFiltered: rgb(113, 231, 144);
	--colorStatsFilteredOut: rgb(240, 176, 58);
	--colorStatsUnretrievable: rgb(36, 175, 217);

	/* timeline */

	--colorTimelineActiveBinFill: #333;
	--colorTimelineActiveBinStroke: #ccc;
	--colorTimelineInactiveBinFill: #333;
	--colorTimelineInactiveBinStroke: #555;

	/* cat filters */

	--colorBackgroundApply: limegreen;
	--colorBackgroundApplyDisabled: grey;
	--colorBackgroundDirty: darkslategrey;
	--colorBackgroundDismiss: orangered;
	--colorBackgroundHover: #333;
	--colorTextApply: white;
	--colorTextDismiss: white;

	/* region filters */

	--colorGeoFilterFillSelected: #555;
	--colorGeoFilterStrokeSelected: orange;

	/* maps */

	--colorMapFillNuts: #eee;
	--colorMapStrokeSelected: #333;
	--colorMapHeroStroke: white;
}
